nav{
    background-color: deepskyblue;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
nav a{
    color: white;
    text-decoration: none;
}
#search{
    order: 100;
}
@media only screen and (max-width: 800px) and (min-width: 600px){
    nav{
        flex-wrap: wrap;
    }
    #search{
        min-width: 100%;
        padding-top: 30px;
    }
}
@media only screen and (max-width: 600px){
    nav{
        flex-flow: column wrap;
        align-items: center;
    }
    #search{
        order: -1;
    }
    nav > div{
        margin: 20px;
    }
}